/* You can add global styles to this file, and also import other style files */


/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~primeng/resources/themes/omega/theme.css';
@import '~primeng/resources/primeng.min.css';
.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.block-margin {
    margin: 30px
}

.center {
    text-align: center;
}

.example-card {
    width: 400px;
    display: inline-block;
    margin: 10px;
}

.snackbar {
    background-color: red
}

body {
    background: darkgrey;
    color: white;
}

.error_msg {
    color: red;
}