/* You can add global styles to this file, and also import other style files */


/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~primeng/resources/themes/omega/theme.css';
@import '~primeng/resources/fonts/css/font-awesome.min.css';
@import '~primeng/resources/primeng.min.css';
.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.block-margin {
    margin: 30px
}

.center {
    text-align: center;
}

.example-card {
    width: 400px;
    display: inline-block;
    margin: 10px;
}

.snackbar {
    background-color: red
}

body {
    background: darkgrey;
    color: white;
}

.error_msg {
    color: red;
}

.right {
    position: absolute;
    right: 0;
}

.boxshadow {
    position: relative;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
    padding: 2px;
}

.boxshadow:hover {
    position: relative;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, .5);
    padding: 2px;
}

.form_div md-input-container {
    width: 100%
}

.isAprove_style {
    height: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.approved {
    border: 1px solid green;
    border-radius: 5px;
    color: green;
}

.not_approved {
    border: 1px solid red;
    border-radius: 5px;
    color: red;
}

.inline {
    display: inline-block;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.pointer {
    position: relative;
}

.pointer:hover {
    position: relative;
    cursor: pointer;
}

.noselect_text {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title_style {
    text-align: center;
    border-bottom: 1px solid #5987af;
    margin-bottom: 5px;
}