<div class="block-margin">
    <form #fo="ngForm" (ngSubmit)="save(fo.value, fo)">
        <md-input-container>
            <input mdInput placeholder="Type Name" type="text" name="Name" required ngModel>
        </md-input-container>
        <button md-raised-button color="primary" type="submit">submit</button>
    </form>
    <div [hidden]="!errorMessage" class="error_msg">
        {{errorMessage}}
    </div>
    <md-nav-list dense>
        <h3 md-subheader>Accomodation types</h3>
        <md-list-item *ngFor="let accType of accTypes">
            <button md-icon-button md-list-avatar (click)="delete(accType)">
                 <md-icon>delete</md-icon>
            </button>
            <h4 md-line>{{accType.Name}}</h4>
        </md-list-item>
    </md-nav-list>
</div>