<h2> Login</h2>
<form name="form" (ngSubmit)="f.form.valid && login(f.value,f)" #f="ngForm" novalidate>
    <div>
        <md-input-container>
            <input mdInput type="text" placeholder="Username" name="username" ngModel required />
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <input mdInput type="password" placeholder="Password" name="password" ngModel required />
        </md-input-container>
    </div>
    <div class="center">
        <button md-raised-button type="submit" color="primary">Login</button>
        <button md-raised-button (click)="switchToReg()">Register</button>

    </div>
</form>