<div style="margin-left: 20px; margin-top: 10px">
    <h3>Filter</h3>
    <form (ngSubmit)="onSubmit(searchform)" name="searchform" style="width: 100%">

        <div>
            <md-input-container style="width: 90%">
                <input mdInput placeholder="Place" type="text" [(ngModel)]="filter.Place" name="Place">
            </md-input-container>
        </div>
        <div>
            <md-input-container style="width: 90%">
                <input mdInput placeholder="Bed count" type="number" name="BedCount" [(ngModel)]="filter.BedCount">
            </md-input-container>
        </div>
        <div>
            <h4>Price per night($)</h4>
            <md-input-container style="width: 80px">
                <input mdInput type="number" [(ngModel)]="filter.MinPrice" name="MinPrice" placeholder="Min">
            </md-input-container>
            <md-input-container style="width: 80px">
                <input mdInput type="number" name="MaxPrice" [(ngModel)]="filter.MaxPrice" placeholder="Max" />
            </md-input-container>
        </div>
        <div>
            <h4>Rate</h4>
            <md-input-container style="width: 80px">
                <input mdInput type="number" name="MinRate" [(ngModel)]="filter.MinRate" placeholder="Min" />
            </md-input-container>
            <md-input-container style="width: 80px">
                <input mdInput type="number" min="1" max="5" name="MaxRate" [(ngModel)]="filter.MaxRate" placeholder="Max" />
            </md-input-container>
        </div>
        <div style="margin-left: 20px">
            <button md-raised-button color="primary" type="submit">Filter</button>
        </div>
    </form>
</div>