<div class="block-margin">
    <p-dataTable [value]="reservations" sortMode="multiple" selectionMode="single">

        <p-column *ngIf="role!='User'" field="Username" header="Username" [sortable]="true" [filter]="true"></p-column>
        <p-column field="RoomNumber" header="RoomNumber" [sortable]="true" [filter]="true"></p-column>
        <p-column field="StartTime" header="StartDate" [sortable]="true"></p-column>
        <p-column field="EndTime" header="EndData" [sortable]="true"></p-column>
        <p-column field="AccommodationName" header="Accommodation" [sortable]="true"></p-column>

        <p-column styleClass="col-button">
            <ng-template let-res="rowData" pTemplate="body" style="width: auto">
                <button type="button" pButton icon="fa-calendar-times-o" (click)="cancel(res)" title="Cancel"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>