<div>
    <h2 md-dialog-title>{{title}}</h2>
    <form #fo="ngForm" (ngSubmit)="onSubmit(fo.value, fo)" class="form_div">
        <div>
            <md-input-container>
                <input mdInput placeholder="Name" type="text" name="Name" required [ngModel]=accommodation.Name>
            </md-input-container>
        </div>
        <div>

            <md-input-container>
                <input mdInput placeholder="Description" type="text" name="Description" required [ngModel]=accommodation.Description>
            </md-input-container>
        </div>
        <div>

            <md-input-container>
                <input mdInput placeholder="Address" type="text" name="Address" required [ngModel]=accommodation.Address>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="Latitude" type="number" name="Latitude" required [ngModel]=accommodation.Latitude>
            </md-input-container>
        </div>

        <div>
            <md-input-container>
                <input mdInput placeholder="Longitude" type="number" name="Longitude" required [ngModel]=accommodation.Longitude>
            </md-input-container>
        </div>
        <div>
            <button md-mini-fab (click)="openMap()" color="primary" title="Select location" type="button">
                <md-icon>add_location</md-icon>
            </button>
        </div>
        <div style="margin-top: 25px;width: 100%">
            <md-select name="Place_Id" [(ngModel)]="accommodation.Place_Id" placeholder="Place" style="margin-right: 15px">
                <md-option *ngFor="let place of places" [value]="place.Id">
                    {{place.Name}}
                </md-option>
            </md-select>
            <md-select name="AccommodationType_Id" [(ngModel)]="accommodation.AccommodationType_Id" placeholder="Type">
                <md-option *ngFor="let type of types" [value]="type.Id">
                    {{type.Name}}
                </md-option>
            </md-select>
        </div>
        <div class="center" style="margin-top: 10px">
            <button md-raised-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</div>