<div>
    <h2 md-dialog-title>{{title}}</h2>
    <form #fo="ngForm" (ngSubmit)="onSubmit(fo.value, fo)">
        <div>
            <md-input-container>
                <input mdInput placeholder="Name" type="text" name="Name" required [ngModel]=accommodation.Name>
            </md-input-container>
        </div>
        <div>

            <md-input-container>
                <label>Description</label>
                <input mdInput placeholder="Description" type="text" name="Description" required [ngModel]=accommodation.Description>
            </md-input-container>
        </div>
        <div>

            <md-input-container>
                <input mdInput placeholder="Address" type="text" name="Address" required [ngModel]=accommodation.Address>
            </md-input-container>
        </div>
        <div>

            <md-input-container>

                <input mdInput placeholder="Latitude" type="number" name="Latitude" required [ngModel]=accommodation.Latitude>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="Longitude" type="number" name="Longitude" required [ngModel]=accommodation.Longitude>
            </md-input-container>
        </div>
        <div>
            <md-select id="Place" name="Place_Id" [(ngModel)]=place placeholder="Place">
                <md-option *ngFor="let place of places" [value]="place.Id">
                    {{place.Name}}
                </md-option>
            </md-select>
        </div>
        <div>
            <md-select id="Type" name="AccommodationType_Id" [(ngModel)]=accomodationType placeholder="Type">
                <md-option *ngFor="let type of types" [value]="type.Id">
                    {{type.Name}}
                </md-option>
            </md-select>
        </div>
        <div>

            <button md-raised-button color="primary" type="submit">submit</button>
        </div>
    </form>
</div>