<div class="block-margin">
    <button md-raised-button color="primary" (click)="openAddDialog()">Add Accommodation</button>
    <h4>Accommodations</h4>
    <div class="example-card boxshadow" *ngFor="let accommodation of accommodations" (click)=accommodationDetails(accommodation) tooltipPosition="top" pTooltip="Click for accommodation detail">
        <md-card>
            <md-card-header>
                <md-card-title>{{accommodation.Name}}</md-card-title>
                <md-card-subtitle>{{accommodation.Description}}</md-card-subtitle>
                <span class="example-spacer"></span>
                <div>
                    <button md-mini-fab style="color: white;background-color: green"><md-icon>check</md-icon></button>
                    <button md-mini-fab style="color: white;background-color: firebrick"><md-icon>close</md-icon></button>
                </div>
            </md-card-header>
            <img md-card-image src="https://exp.cdn-hotels.com/hotels/1000000/150000/140600/140596/140596_275_z.jpg">
            <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)="editAccommodation(accommodation)">Edit</button>
                <button md-button (click)="deleteAccommodation(accommodation)">Delete</button>
            </md-card-actions>
        </md-card>

    </div>
    
</div>
<app-search (notify)='onNotify($event)'> </app-search>