<h2>Register</h2>
<form name="form" (ngSubmit)="f.form.valid && registerUser(f.value,f)" #f="ngForm" novalidate>

    <div>
        <md-input-container>
            <input mdInput type="text" placeholder="Username" name="Username" ngModel required />
        </md-input-container>
    </div>
    <!--<div *ngIf="f.submitted && !username.valid">First Name is required</div>-->
    <div>
        <md-input-container>
            <input mdInput type="email" placeholder="Email" name="Email" ngModel required />
        </md-input-container>
    </div>
    <!--<div *ngIf="f.submitted && !password.valid">Password is required</div>-->
    <div>
        <md-input-container>
            <input mdInput type="password" placeholder="Password" name="Password" ngModel required />
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <input mdInput type="password" placeholder="Confirm Password" name="ConfirmPassword" ngModel required />
        </md-input-container>
    </div>
    <md-select placeholder="Role" ngModel name="Role" required>
        <md-option value="AppUser">User</md-option>
        <md-option value="Menager">Menager</md-option>
    </md-select>
    <div class="center">
        <button md-raised-button type="submit" color="primary">Register</button>
        <button md-raised-button (click)="switchToSignIn()">Sign in</button>
    </div>

</form>