<md-toolbar color="primary">
    <span>Booking Application</span>
    <span class="example-spacer"></span>
    <div *ngIf="!isLoggedIn">
        <button md-button (click)="openLoginDialog()"><md-icon>input</md-icon></button>
        <button md-button (click)="openRegistrationDialog()"><md-icon>person_add</md-icon></button>
    </div>
    <div *ngIf="isLoggedIn">
        <button md-button (click)="editUser()" title="Edit profile"><md-icon>verified_user</md-icon>{{username}}</button>
        <button md-button (click)="logout()" title="Logout"><md-icon>reply</md-icon></button>
    </div>
</md-toolbar>
<md-tab-group>
    <md-tab>
        <ng-template md-tab-label>
            Country
        </ng-template>
        <app-country></app-country>
    </md-tab>
    <md-tab>
        <ng-template md-tab-label>
            Region
        </ng-template>
        <app-region></app-region>
    </md-tab>
    <md-tab>
        <ng-template md-tab-label>
            Place
        </ng-template>
        <app-place></app-place>
    </md-tab>
    <md-tab>
        <ng-template md-tab-label>
            Accomodation
        </ng-template>
        <app-accomodation></app-accomodation>
        <app-room></app-room>
    </md-tab>
    <md-tab>
        <ng-template md-tab-label>
            Map
        </ng-template>
        <app-map></app-map>
    </md-tab>
</md-tab-group>

<!--<div>
    <nav md-tab-nav-bar>
        <a md-tab-link [routerLink]="['/country']">     
            Country
        </a>
        <a md-tab-link [routerLink]="['/region']">
            Region
        </a>
        <a md-tab-link [routerLink]="['/place']">
            Place
         </a>
    </nav>
    <router-outlet></router-outlet>
</div>-->