<md-toolbar color="primary">
    <span>Booking Application</span>
    <span class="example-spacer"></span>
    <div style="position: relative">
        <span class="button_badge">
            {{notificationList.length}}
        </span>
        <button md-button title="Notifications" (click)="op.toggle($event)" *ngIf="role=='Admin'||role=='Manager'">
             <md-icon>info</md-icon>
         </button>
    </div>
    <p-overlayPanel #op>
        <div style="width: 120px; margin-right: 10px" class="title_style">
            <span style="font-size: 20px; color: #58657a">Notifications</span>
        </div>
        <div *ngFor="let notif of notificationList" class="pointer" (click)="openAcc(notif.Id)" title="Click for more detail">
            <span class="noselect_text">{{notif.Name}}</span>
        </div>
    </p-overlayPanel>
    <div *ngIf="!isLoggedIn">
        <button md-button (click)="openLoginDialog()"><md-icon>input</md-icon></button>
        <button md-button (click)="openRegistrationDialog()"><md-icon>person_add</md-icon></button>
    </div>
    <div *ngIf="isLoggedIn">
        <button md-button (click)="editUser()" title="Edit profile"><md-icon>verified_user</md-icon>{{username}}</button>
        <button md-button (click)="logout()" title="Logout"><md-icon>reply</md-icon></button>
    </div>
</md-toolbar>
<div>
    <nav md-tab-nav-bar>
        <div *ngFor="let link of navLinks" class="inline">
            <a md-tab-link [routerLink]="link.route" routerLinkActive #rla="routerLinkActive" *ngIf="isInRole(link)" [active]="rla.isActive">
                 {{link.label}}
            </a>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>